---
security:
  users:
    admin:
      password: {{ opensearch_admin_password | to_json }}
      hash: {{ opensearch_admin_password_hash | to_json }}
    kibanaserver:
      password: {{ opensearch_kibanaserver_password | to_json }}
      hash: {{ opensearch_kibanaserver_password_hash | to_json }}
    metricConsumer:
      password: {{ opensearch_metric_consumer_password | to_json }}
      hash: {{ opensearch_metric_consumer_password_hash | to_json }}
    fluentbit:
      password: {{ opensearch_fluentbit_password | to_json }}
      hash: {{ opensearch_fluentbit_password_hash | to_json }}
