apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ internal_pki_issuer_service_account_name }}
  namespace: {{ internal_pki_issuer_cert_manager_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ internal_pki_issuer_service_account_name }}-token-request
  namespace: {{ internal_pki_issuer_cert_manager_namespace }}
rules:
  - apiGroups:
      - ""
    resources:
      - serviceaccounts/token
    resourceNames:
      - {{ internal_pki_issuer_service_account_name }}
    verbs:
      - create
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ internal_pki_issuer_service_account_name }}-token-request
  namespace: {{ internal_pki_issuer_cert_manager_namespace }}
subjects:
  - kind: ServiceAccount
    name: cert-manager
    namespace: {{ internal_pki_issuer_cert_manager_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ internal_pki_issuer_service_account_name }}-token-request
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ internal_pki_issuer_name }}
spec:
  vault:
    server: {{ internal_pki_issuer_vault_service_addr }}
    path: {{ internal_pki_issuer_vault_pki_path }}/sign/{{ internal_pki_issuer_name }}
    auth:
      kubernetes:
        role: {{ internal_pki_issuer_name }}
        mountPath: /v1/auth/kubernetes
        serviceAccountRef:
          name: {{ internal_pki_issuer_service_account_name }}
          audiences:
            - vault://{{ internal_pki_issuer_name }}
